Package: myleiningen
Version: 2.5.3
Section: base
Priority: optional
Architecture: amd64
Maintainer: Emory Merryman <emory.merryman@gmail.com>
Description: Leiningen
 Leiningen is for automating Clojure projects without setting your hair on fire.
 